<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Jobs</title>

   <!-- development version, includes helpful console warnings -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      
   <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
   <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

   <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts@1.6.2/dist/vue-apexcharts.js"></script>

</head>
<body>
   
   <div id="app">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container-fluid">
           <a class="navbar-brand" href="#">Jobs</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarText">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
               <li class="nav-item" v-for="(name, index) in views">
                  <a class="nav-link" :class="{ 'active': currentView == index }" href="#" @click="changeCurrentView(index)">{{ name }}</a>
               </li>
               
             </ul>
           </div>
         </div>
      </nav>

      <div class="d-flex justify-content-center mt-5" v-if="isLoading || (!isLoading && jobs.length == 0) || error">
         
         <div class="spinner-border" role="status" v-if="isLoading">
         <span class="visually-hidden">Loading...</span>
         </div>

         <div v-if="!isLoading && !error">
            Não foram encontrados empregos...
         </div>

         <div class="text-danger fw-bold" v-if="!isLoading && error">
            {{ error }}
         </div>
         
      </div>

      <div v-if="!isLoading && jobs.length > 0" class="container-fluid mt-3">
         <div class="row">
            <template v-if="currentView != 0">

               <div class="col-6">
                  
                  <label>Companies</label>
                  
                  <vue-multiselect v-model="selectedCompanies" track-by="name" :options="companies" :searchable="false" :close-on-select="false" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" label="nameWithCount" :show-labels="false" placeholder="Select companies to filter..."></vue-multiselect>
                  
               </div>
               <div class="col-6">
                  
                  <label for="filter">Filter job name and tags</label>
                  <input type="text" id="filter" class="form-control" :class="{ 'is-invalid': textFilter.length == 1 }" v-model="textFilter" aria-describedby="validationFilterText">
                  <div id="validationFilterText" class="invalid-feedback">
                     Please provide a text with more than one character.
                  </div>

                  <br>

                  <button class="btn btn-danger" @click="clearFilters()">
                     Clear filters
                  </button>
                  
               </div>
               
               <div class="col-12 border-bottom pt-3"></div>
               
            </template>

            <div class="col-12 mt-3">

               <div v-if="currentView <= 1">
      
                  <table class="table table-bordered table-hover align-middle" v-if="!isLoading">
                     <thead class="table-dark">
                        <tr>
                           <th style="position: sticky; top: 0">Name</th>
                           <th class="text-center" style="position: sticky; top: 0">Workplace</th>
                           <th class="text-center" style="position: sticky; top: 0">Remote</th>
                           <th class="text-center" style="position: sticky; top: 0">Company</th>
                           <th class="text-center" style="position: sticky; top: 0">Inclusion</th>
                           <th style="position: sticky; top: 0"></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="job in paggedJobs">
                           <td>
                              {{ job.name }} {{ job.type ? ` (${job.type})` : '' }}
                              
                              <div class="mt-2"></div>
                              
                              <span class="badge bg-primary ms-1" v-for="(tag, index) in job.tags">{{ tag }}</span>

                              <div v-if="job.differentialTags && job.differentialTags.length > 0">
                                 <span class="badge bg-secondary ms-1" v-for="(tag, index) in job.differentialTags">{{ tag }}</span>
                              </div>
                              
                           </td>
                           <td class="text-center">{{ job.workplace }}</td>
                           <td class="text-center">{{ job.remote }}</td>
                           <td class="text-center">{{ job.company }}</td>
                           <td class="text-center">{{ job.inclusionDateFormat }}</td>
                           <td class="text-center">
                              <a target="_blank" :href="job.url" class="btn btn-primary">
                                 <i class="bi bi-box-arrow-right"></i>
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>

                  <nav aria-label="Jobs navigation" v-if="currentView == 1 && paggedJobs.length > 0">
                     <ul class="pagination justify-content-center">
                        
                        <li class="page-item" :class="{ 'disabled': currentPage == 1 }">
                           <button class="page-link" @click="currentPage = currentPage - 1">
                              <i class="bi bi-arrow-left"></i>
                           </button>
                        </li>
                        
                        <li v-for="page in paginationPages" class="page-item" :class="{ 'active': page == currentPage, 'disabled': page == '...' }">
                           <button class="page-link" @click="currentPage = page">{{ page }}</button>
                        </li>
                        
                        <li class="page-item" :class="{ 'disabled': currentPage == totalOfPages }">
                           <button class="page-link" @click="currentPage = currentPage + 1">
                              <i class="bi bi-arrow-right"></i>
                           </button>
                        </li>
                        
                     </ul>
                  </nav>

               </div>

               <div v-if="currentView == 2">
                  
                  <div id="chart">
                     <apexchart type="bar" height="500" :options="chartOptions" :series="chartSeries"></apexchart>
                  </div>
                  
               </div>
               
            </div>
            <div class="col-12-mt-4">

            </div>
         </div>
      </div>

   </div>
   
   <script src="app.js"></script>
   
</body>
</html>